In [4]:
import pandas as pd
from getpass import getpass
import sqlalchemy as alch

In [3]:
password = getpass
password = getpass()

In [5]:
dbName = "guns"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [20]:
# States with higher firearm sales and the number of injuries

query = '''SELECT 
                g.state, 
                sum(totals) AS guns_sold, 
                (sum(n_injured) + sum(n_killed)) AS injuries
	FROM 
        gun_violence_groupby AS g
    JOIN 
        firearm_sales_groupby AS f ON g.state = f.state
    GROUP BY state
    ORDER BY guns_sold DESC;'''

pd.read_sql_query(query, engine)

                   state    guns_sold  injuries
0               Kentucky  324416130.0   76960.0
1               Illinois  283837134.0  439998.0
2                  Texas  180965946.0  289952.0
3             California  165170832.0  343356.0
4                Florida  123326238.0  285506.0
5           Pennsylvania  122249784.0  193726.0
6                Indiana   94352952.0  118664.0
7                   Ohio   77826168.0  213486.0
8              Tennessee   73045434.0  163852.0
9         North Carolina   70857552.0  178204.0
10              Michigan   70640544.0  119028.0
11               Alabama   67254138.0  126828.0
12               Georgia   67029036.0  169312.0
13             Minnesota   66927150.0   35802.0
14            Washington   62977224.0   55640.0
15              Missouri   59546634.0  148746.0
16                  Utah   58054566.0   17784.0
17              Virginia   56691726.0  130650.0
18              Colorado   56554986.0   50154.0
19             Wisconsin   52321500.0   77454.0
20               Arizona   44561004.0   56940.0
21              New York   43021182.0  175864.0
22              Oklahoma   41331900.0   64766.0
23             Louisiana   40711602.0  171002.0
24        South Carolina   38513940.0  122044.0
25                Oregon   32022935.0   29640.0
26           Mississippi   31792146.0   79534.0
27         West Virginia   27253272.0   25584.0
28           Connecticut   26695074.0   41574.0
29              Arkansas   26567790.0   55120.0
30                Kansas   22948668.0   38298.0
31              Maryland   21161082.0  126308.0
32         Massachusetts   19814285.0   56498.0
33            New Mexico   18810486.0   26988.0
34                  Iowa   18047820.0   28444.0
35                 Idaho   16993975.0    8190.0
36                Nevada   16110948.0   45500.0
37               Montana   13637820.0    7540.0
38            New Jersey   12258114.0   96408.0
39         New Hampshire   12019075.0    6032.0
40              Nebraska    9777798.0   23374.0
41                 Maine    9624330.0    6344.0
42          South Dakota    8918960.0    5304.0
43                Alaska    8239545.0   15392.0
44          North Dakota    6877100.0    5174.0
45               Wyoming    6631220.0    3250.0
46              Delaware    5042766.0   27820.0
47               Vermont    3783050.0    3380.0
48          Rhode Island    2880186.0   10634.0
49                Hawaii    1505865.0    3848.0
50  District of Columbia     404340.0   48724.0

In [19]:
# Number of firearms sold and the total number of injuries in a given year

query = '''SELECT 
                g.year, 
                sum(totals) AS guns_sold, 
                (sum(n_injured) + sum(n_killed)) AS injuries
	FROM 
        gun_violence_groupby AS g
    JOIN 
        firearm_sales_groupby AS f ON g.state = f.state
    GROUP BY 
        g.year
    ORDER BY 
        guns_sold DESC;'''

pd.read_sql_query(query, engine)

   year    guns_sold   injuries
0  2018  459823451.0   252304.0
1  2017  459823451.0  1201564.0
2  2016  459823451.0  1186796.0
3  2015  459823451.0  1051726.0
4  2014  459823451.0   924534.0
5  2013  422886697.0    33696.0

In [25]:
# States with higher ranks in gun sales also tend to have higher ranks in gun related injuries?

query = '''WITH RankedData AS (
    SELECT
        g.state,
        SUM(f.totals) AS total_guns_sold,
        SUM(g.n_injured + g.n_killed) AS total_injuries,
        RANK() OVER (ORDER BY SUM(f.totals) DESC) AS rank_guns_sold,
        RANK() OVER (ORDER BY SUM(g.n_injured + g.n_killed) DESC) AS rank_injuries
    FROM
        gun_violence_groupby g
    JOIN
        firearm_sales_groupby f ON g.state = f.state AND g.year = f.year
    GROUP BY
        g.state
)
SELECT
    state,
    rank_guns_sold,
    total_guns_sold,
    rank_injuries,
    total_injuries
FROM
    RankedData
ORDER BY
    rank_guns_sold;'''

df = pd.read_sql_query(query, engine)
df.to_csv("../data/ranking.csv")
df

,state,rank_guns_sold,total_guns_sold,rank_injuries,total_injuries
0,Kentucky,1,20519654.0,22,2960.0
1,Illinois,2,10228711.0,1,16923.0
2,California,3,9848399.0,2,13206.0
3,Texas,4,9516328.0,3,11152.0
4,Florida,5,7170521.0,4,10981.0
5,Pennsylvania,6,6165215.0,6,7451.0
6,Indiana,7,5484821.0,18,4564.0
7,Ohio,8,4372092.0,5,8211.0
8,Tennessee,9,3965283.0,11,6302.0
9,North Carolina,10,3958021.0,7,6854.0
10,Alabama,11,3491280.0,14,4878.0
11,Washington,12,3466492.0,26,2140.0
12,Minnesota,13,3465361.0,33,1377.0
13,Missouri,14,3322423.0,12,5721.0
14,Georgia,15,3283583.0,10,6512.0
15,Michigan,16,3011796.0,17,4578.0
16,Colorado,17,2944283.0,28,1929.0
17,Virginia,18,2907143.0,13,5025.0
18,Wisconsin,19,2693138.0,21,2979.0
19,New York,20,2210420.0,8,6764.0
20,Arizona,21,2184197.0,24,2190.0
21,Oklahoma,22,2119637.0,23,2491.0
22,Louisiana,23,2069257.0,9,6577.0
23,South Carolina,24,2033103.0,16,4694.0
24,Utah,25,1704472.0,40,684.0
25,Connecticut,26,1549546.0,31,1599.0
26,Oregon,27,1544727.0,34,1140.0
27,Mississippi,28,1474203.0,20,3059.0
28,West Virginia,29,1426609.0,38,984.0
29,Arkansas,30,1243710.0,27,2120.0
30,Kansas,31,1146177.0,32,1473.0
31,Massachusetts,32,990628.0,25,2173.0
32,Maryland,33,974579.0,15,4858.0
33,New Mexico,34,921873.0,37,1038.0
34,Iowa,35,826748.0,35,1094.0
35,Idaho,36,814450.0,43,315.0
36,Nevada,37,796155.0,30,1750.0
37,New Hampshire,38,676636.0,46,232.0
38,Montana,39,627423.0,44,290.0
39,New Jersey,40,621141.0,19,3708.0
40,South Dakota,41,485114.0,47,204.0
41,Maine,42,479361.0,45,244.0
42,Nebraska,43,476919.0,39,899.0
43,Alaska,44,420491.0,41,592.0
44,North Dakota,45,341324.0,48,199.0
45,Wyoming,46,303857.0,51,125.0
46,Delaware,47,291220.0,36,1070.0
47,Vermont,48,184667.0,50,130.0
48,Rhode Island,49,146660.0,42,409.0
49,Hawaii,50,74026.0,49,148.0
50,District of Columbia,51,7410.0,29,1874.0

In [22]:
# The number of gun incidents (both killed and injured) over the years

query = '''SELECT 
                year, 
                SUM(n_killed) AS total_killed, 
                SUM(n_injured) AS total_injured
    FROM 
        gun_violence_groupby
    GROUP BY 
        year;'''

pd.read_sql_query(query, engine)

   year  total_killed  total_injured
0  2013         317.0          979.0
1  2014       12557.0        23002.0
2  2015       13484.0        26967.0
3  2016       15066.0        30580.0
4  2017       15511.0        30703.0
5  2018        3533.0         6171.0